
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.autocompleteRoot {
  display: flex;
  align-items: stretch;
  width: 568px; 
  height: 48px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  overflow: hidden; 
  background-color: #fff;
}


.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0 16px;
  height: 100%;
}


.searchButton {
  width: 48px;
  height: 48px;
  border: none;
  border-left: 1px solid var(--color-black);
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.searchButton:hover {
  background-color: #f1f1f1;
}
