.button {
  width: 170px; 
  height: 47px;
  background-color: #121212; 
  color: #34C94B; 
  border: 1px solid #34C94B; 
  border-radius: 12px; 
  padding: 10px 16px; 
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px; 
  transition: all 0.2s ease;
}

.button:hover {
  opacity: 0.9;
  transform: scale(1.02); 
}
